.btn {
	margin-right: 10px;
}

.bg-light {
    background-color: #c2c2a3 !important;
}

.navbar {
	height: 80px;
	font-family: 'Roboto', sans-serif;
}

.navbar-brand {
	font-size: 24px;
	border-right: 3px solid #111;
	padding-right: 20px;
}

.dropdown-item {
	width: fit-content;
	margin: auto 10px;
}

.log img{
	width: 100%;
}
.tests .row {
    padding-top: 50px;
}
.tests {
	background-color: #fbf7f5;
}
.tests img{
	border-radius: 10%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.tests .shadow{
	padding-bottom: 15px;
}
.navbar .row{
	width: 100%;
}
.nav-left{
	width: 20%;
}
.nav-center{
	width: 65%;
}
.nav-right{
	width: 15%;

}
button.btn.btn-danger {
    margin-left: 6px;
}
section.log {
    background: linear-gradient(to right,#0f2027,#203a43,#2c5634);
    padding: 160px;
        padding-bottom: 200px;
    }
section.tests div {
	height: 500px;
}

.log h1 {
    text-align: center;
}
.featureone{
	padding-top: 70px;
    padding-bottom: 50px;
	background-color: #fbf7f5;
}
.featureone img{
	padding-left: 20px;
    padding-top: 40px;
}
.featuretext {
	padding-top: 55px;
}

.tests .shadow{
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
ul.social.text-white.text-right {
    /* float: right; */
    list-style: none;
    display: inline-flex;
}
.left{
	width: 80%;
}
.right{
	width: 20%;
}
.fa{
	padding-right: 15px;
}

footer.bg-dark.py-5 {
    height: 40px;
}

/*feedbackform*/
h2.text-white {
	margin-top: 80px;
}

p.text-white {
    color: #fff!important;
}